.form_wrapper {
    padding-top: 2rem;
}

input.card_form_input {
    border-bottom: 1px solid #ffffff !important;
    box-shadow: 0 1px 0 0 #ffffff !important;
}

input.card_form_input + label {
    color: #ffffff !important;
}

input.card_form_input:focus {
    border-bottom: 1px solid #540d54 !important;
    box-shadow: 0 1px 0 0 #540d54 !important;
}

input.card_form_input:focus + label {
    color: #540d54 !important;
}

input.card_form_input::placeholder {
    color: #540d54 !important;
}

input.card_form_input::placeholder:focus {
    color: #ffffff !important;
}
