.form_wrapper {
    margin-top: 2em;
    margin-left: 0 !important;
    width: 100% !important;
}

input.create_form_input {
    border-bottom: 1px solid #540d54 !important;
    box-shadow: 0 1px 0 0 #540d54 !important;
}

input.create_form_input + label {
    color: gray !important;
}

input.create_form_input:focus {
    border-bottom: 1px solid #540d54 !important;
    box-shadow: 0 1px 0 0 #540d54 !important;
}

input.create_form_input:focus + label {
    color: #540d54 !important;
}

input.create_form_input::placeholder {
    color: gray !important;
}

input.create_form_input::placeholder:focus {
    color: #540d54 !important;
}

input, select, textarea{
    color: #540d54;
}

textarea:focus, input:focus {
    color: #540d54;
}

.input-field .prefix {
    color: gray;
    margin-top: 7px
}

.input-field .prefix.active {
    color: #540d54;
    margin-top: 7px;
}

.input-field {
    color: gray;
}
